* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
header {
  padding: 100px 25px 60px;
}

header strong {
  color:rgb(21, 230, 14);
}


main > section {
  padding-top: 72px;
  background-color: rgb(167, 166, 166);
  border-top: 5px solid rgb(88, 88, 88);
  min-height: 100%;
}

.card {
  background-color: white;
  padding-top:6px;
  padding-right: 23px;

}

.card h2 {
  margin:0;
  padding:23px;
  background-color: yellow;
  border-bottom: 5px solid yellowgreen;
}
/* Add styles here! */
@media screen and (min-width: 768px) {
  header {
    padding: 83px 18px 50px;
  }
  header > .max-width-wrapper {
    max-width: 260px;
  }
  main > section {
    padding-top: 54px;
    background-color: rgb(167, 166, 166);
    border-top: 5px solid rgb(88, 88, 88);
  }

  .card {
    padding: 3px 20px 20px 20px;
    border-bottom: 5px solid rgb(88, 88, 88);
  }
  .card h2 {

    margin:0;
    margin-left:-20px;
    background-color: yellow;
    border-bottom: 5px solid yellowgreen;
    width: fit-content;
  }
}

@media screen and (min-width: 1024px) {
  header {
    padding: 83px 164px 50px;
  }
  header > .max-width-wrapper {
    max-width: 260px;
  }

  main {
    background-color: rgb(167, 166, 166);
    border-top: 5px solid rgb(88, 88, 88);
  }
  main > section {
    padding-top: 54px;
    border-top: none;;

  }

  section.max-width-wrapper {
    max-width: 450px;
    margin-left:auto;
    margin-right:auto;
  }
  .card {

    padding: 3px 20px 20px 20px;
    border-bottom: 5px solid rgb(88, 88, 88);
  }
  .card h2 {

    margin:0;
    margin-left:-30px;
    background-color: yellow;
    border-bottom: 5px solid yellowgreen;
    width: fit-content;
  }
}
